In [3]:
import pandas as pd
df = pd.DataFrame() 
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
sel =  pd.Series([1,2,3,4])
print(sel)
sel =  pd.Series([[1,2],[3,4]])
print(sel)
print(type(sel))

0    1
1    2
2    3
3    4
dtype: int64
0    [1, 2]
1    [3, 4]
dtype: object
<class 'pandas.core.series.Series'>

In [17]:
# sel =  Series(data = [1,2,3,4], index = ['a','b','c','d'])
sel =  pd.Series(data = [1,2,3,4], index = list('abcd'))
print(sel)
# 获取内容
print(sel.values)
print(type(sel.values))
# 获取索引
print(sel.index)
print(type(sel.index))
# 获取索引和值对
print(list(sel.iteritems()))

a    1
b    2
c    3
d    4
dtype: int64
[1 2 3 4]
<class 'numpy.ndarray'>
Index(['a', 'b', 'c', 'd'], dtype='object')
<class 'pandas.core.indexes.base.Index'>
[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [15]:
pd.__version__

'1.2.4'

In [20]:
dict={"red":100,"black":400,"green":300,"pink":900}
se3=pd.Series(dict)
print(se3)
print(type(se3))

red      100
black    400
green    300
pink     900
dtype: int64
<class 'pandas.core.series.Series'>

In [24]:
sel =  pd.Series(data = [1,2,3,4], index = list('abcd'))
print(sel['c'])
print(sel[2])

3
3

In [28]:
print('索引下标\n',sel[['a','c']])
print('位置下标\n',sel[[1,3]])

索引下标
 a    1
c    3
dtype: int64
位置下标
 b    2
d    4
dtype: int64

In [30]:
print('索引切片\n',sel['b':'d'])# 左右都包含
print('位置切片\n',sel[1:3])# 左包含右不包含

索引切片
 b    2
c    3
d    4
dtype: int64
位置切片
 b    2
c    3
dtype: int64

In [34]:
sel.index = list('dcba')
print(sel)
# ReIndex重新索引,会返回一个新的Series(调用reindex将会重新排序，缺失值则用NaN填补)
print(sel.reindex(['b','a','c','d','e']))
print(sel)

d    1
c    2
b    3
a    4
dtype: int64
b    3.0
a    4.0
c    2.0
d    1.0
e    NaN
dtype: float64
d    1
c    2
b    3
a    4
dtype: int64

In [38]:
se1=pd.Series(range(10,15))
print(se1)
se2=se1.drop([2,3])
# print(se1.drop([2,3]))
print(se2)
print(se1)

0    10
1    11
2    12
3    13
4    14
dtype: int64
0    10
1    11
4    14
dtype: int64
0    10
1    11
2    12
3    13
4    14
dtype: int64

In [39]:
series1 = pd.Series([1,2,3,4],['London','HongKong','Humbai','lagos'])
series2 = pd.Series([1,3,6,4],['London','Accra','lagos','Delhi'])

print(series1-series2)
print(series1+series2)
print(series1*series2)

Accra       NaN
Delhi       NaN
HongKong    NaN
Humbai      NaN
London      0.0
lagos      -2.0
dtype: float64
Accra        NaN
Delhi        NaN
HongKong     NaN
Humbai       NaN
London       2.0
lagos       10.0
dtype: float64
Accra        NaN
Delhi        NaN
HongKong     NaN
Humbai       NaN
London       1.0
lagos       24.0
dtype: float64

In [42]:
import numpy as np
sel =  pd.Series(data = [1,6,3,5], index = list('abcd'))
print(sel[sel>3]) # 布尔数组过滤
print(sel*2) # 标量乘法
print(np.square(sel)) # 可以直接加入到numpy的数学函数

b    6
d    5
dtype: int64
a     2
b    12
c     6
d    10
dtype: int64
a     1
b    36
c     9
d    25
dtype: int64

In [48]:
import numpy as np
from pandas import DataFrame,Series
df1 = DataFrame(np.random.randint(0,10,(4,4)),index=[1,2,3,4],columns=['a','b','c','d'])
print(df1)

   a  b  c  d
1  2  3  6  2
2  9  0  5  9
3  5  3  1  9
4  5  5  0  8

In [49]:
dict={
    'Province': ['Guangdong', 'Beijing', 'Qinghai', 'Fujian'],
    'pop': [1.3, 2.5, 1.1, 0.7],
    'year': [2018, 2018, 2018, 2018]}
df2=DataFrame(dict,index=[1,2,3,4])
print(df2)

    Province  pop  year
1  Guangdong  1.3  2018
2    Beijing  2.5  2018
3    Qinghai  1.1  2018
4     Fujian  0.7  2018

In [59]:
dict2={"a":[1,2,3],"b":[4,5,6]}
df5=pd.DataFrame.from_dict(dict2)
df6=pd.DataFrame(dict2,index=[1,2,3])  #对比
print(df5)
print(df6)

   a  b
0  1  4
1  2  5
2  3  6
   a  b
1  1  4
2  2  5
3  3  6

In [61]:
data = {
    'Name':pd.Series(['zs','ls','we'],index=['a','b','c']),
    'Age':pd.Series(['10','20','30','40'],index=['a','b','c','d']),
    'country':pd.Series(['中国','日本','韩国'],index=['a','c','b'])
}

df = DataFrame(data)
print(df)
# to_dict()方法将DataFrame对象转换为字典
dict = df.to_dict()
print(dict)

  Name Age country
a   zs  10      中国
b   ls  20      韩国
c   we  30      日本
d  NaN  40     NaN
{'Name': {'a': 'zs', 'b': 'ls', 'c': 'we', 'd': nan}, 'Age': {'a': '10', 'b': '20', 'c': '30', 'd': '40'}, 'country': {'a': '中国', 'b': '韩国', 'c': '日本', 'd': nan}}

In [64]:
df_dict = {
    'name':['James','Curry','Iversion'],
    'age':['18','20','19'],
    'national':['us','China','us']
}
df = pd.DataFrame(data=df_dict,index=['0','1','2'])
print(df)
# 获取行数和列数
print(df.shape)

# # 获取行索引
print(df.index.tolist())

# # 获取列索引
print(df.columns.tolist())

# 获取数据的类型
print(df.dtypes)

# 获取数据的维度
print(df.ndim)

       name age national
0     James  18       us
1     Curry  20    China
2  Iversion  19       us
(3, 3)
['0', '1', '2']
['name', 'age', 'national']
name        object
age         object
national    object
dtype: object
2

In [66]:
print(df.values)
print(type(df.values))

[['James' '18' 'us']
 ['Curry' '20' 'China']
 ['Iversion' '19' 'us']]
<class 'numpy.ndarray'>

In [67]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      3 non-null      object
 1   age       3 non-null      object
 2   national  3 non-null      object
dtypes: object(3)
memory usage: 96.0+ bytes
None

In [68]:
print(type(df[['name','age']]))

<class 'pandas.core.frame.DataFrame'>

In [69]:
print(df[1:3][['name','age']])

       name age
1     Curry  20
2  Iversion  19

In [74]:
print(df.iloc[1])
print(type(df.iloc[1]))

name        Curry
age            20
national    China
Name: 1, dtype: object
<class 'pandas.core.series.Series'>

In [76]:
print(df.iloc[[0,2],:])
print(type(df.iloc[[0,2],:]))

       name age national
0     James  18       us
2  Iversion  19       us
<class 'pandas.core.frame.DataFrame'>

In [77]:
df.iloc[0,0]='panda'
print(df)

       name age national
0     panda  18       us
1     Curry  20    China
2  Iversion  19       us

In [79]:
df = df.sort_values(by='age',ascending=False)
print(df)

       name age national
1     Curry  20    China
2  Iversion  19       us
0     panda  18       us

In [7]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), index = ['bj', 'sh', 'gz'], columns=['a', 'b', 'c'])
print(df1)
print(df1.index) 
print(type(df1.index)) 
df1.index = ['beijing', 'shanghai', 'guangzhou']
print(df1)

    a  b  c
bj  0  1  2
sh  3  4  5
gz  6  7  8
Index(['bj', 'sh', 'gz'], dtype='object')
<class 'pandas.core.indexes.base.Index'>
           a  b  c
beijing    0  1  2
shanghai   3  4  5
guangzhou  6  7  8

In [9]:
# 自定义map函数（x是原有的行列值）
def test_map(x):
    
    return x+'_ABC'
# inplace：布尔值，默认为False。指定是否返回新的DataFrame。如果为True，则在原df上修改，返回值为None。
print(df1.rename(index=test_map, columns=test_map, inplace=True))
print(df1)
# 同时，rename 还可以传入字典，为某个 index 单独修改名称
df3 = df1.rename(index={'bj':'beijing'}, columns = {'a':'aa'}) 
print(df3)

None
                   a_ABC_ABC  b_ABC_ABC  c_ABC_ABC
beijing_ABC_ABC            0          1          2
shanghai_ABC_ABC           3          4          5
guangzhou_ABC_ABC          6          7          8
                   a_ABC_ABC  b_ABC_ABC  c_ABC_ABC
beijing_ABC_ABC            0          1          2
shanghai_ABC_ABC           3          4          5
guangzhou_ABC_ABC          6          7          8

In [12]:
df1=pd.DataFrame({'X':range(5),'Y':range(5),'S':list("abcde"),'Z':[1,1,2,2,2]})
print(df1)
# 指定一列为索引 (drop=False 指定同时保留作为索引的列)
result = df1.set_index('S',drop=False)
result.index.name=None
print(result)

   X  Y  S  Z
0  0  0  a  1
1  1  1  b  1
2  2  2  c  2
3  3  3  d  2
4  4  4  e  2
   X  Y  S  Z
a  0  0  a  1
b  1  1  b  1
c  2  2  c  2
d  3  3  d  2
e  4  4  e  2

In [13]:
result = df1.set_axis(df1.iloc[0],axis=1,inplace=False)
result.columns.name=None
print(result)

   0  0  a  1
0  0  0  a  1
1  1  1  b  1
2  2  2  c  2
3  3  3  d  2
4  4  4  e  2

In [17]:
import pandas as pd
df1 = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],
                   columns=['name','gender','age'])

# 在数据框最后加上score一列
df1['score']=[80,98,67,88]   # 增加列的元素个数要跟原数据列的个数一样
print(df1)

     name gender  age  score
0    Snow      M   22     80
1  Tyrion      M   32     98
2   Sansa      F   18     67
3    Arya      F   14     88

In [18]:
col_name=df1.columns.tolist()  
print(type(col_name))
# print(col_name)
col_name.insert(2,'city')   
print(col_name)
print(df1)
df1=df1.reindex(columns=col_name) 
print(df1)

<class 'list'>
['name', 'gender', 'city', 'age', 'score']
     name gender  age  score
0    Snow      M   22     80
1  Tyrion      M   32     98
2   Sansa      F   18     67
3    Arya      F   14     88
     name gender  city  age  score
0    Snow      M   NaN   22     80
1  Tyrion      M   NaN   32     98
2   Sansa      F   NaN   18     67
3    Arya      F   NaN   14     88

NameError: name '给city列赋值' is not defined

In [19]:
df1['city']=['北京','山西','湖北','澳门']  
#给city列赋值
print(df1)

     name gender city  age  score
0    Snow      M   北京   22     80
1  Tyrion      M   山西   32     98
2   Sansa      F   湖北   18     67
3    Arya      F   澳门   14     88

In [24]:
# 增加数据
df1 = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],columns=['name','gender','age'])

new=pd.DataFrame({'name':'lisa',
                  'gender':'F',
                  'age':19
                  },index=[0])
# print(new)

df1=df1.append(new,ignore_index=False) 
# ignore_index=True,表示不按原来的索引，从0开始自动递增
print(df1)

     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14
0    lisa      F   19

In [26]:
import numpy as np
df1 = pd.DataFrame(np.arange(6).reshape(3,2),columns=['four','five'])
df2 = pd.DataFrame(np.arange(6).reshape(2,3),columns=['one','two','three'])
print(df1)
print(df2)

   four  five
0     0     1
1     2     3
2     4     5
   one  two  three
0    0    1      2
1    3    4      5

In [32]:
result1 = pd.concat([df1,df2],axis=0)
print(result1)
result2 = pd.concat([df1,df2],axis=1)
print(result2)

   four  five  one  two  three
0   0.0   1.0  NaN  NaN    NaN
1   2.0   3.0  NaN  NaN    NaN
2   4.0   5.0  NaN  NaN    NaN
0   NaN   NaN  0.0  1.0    2.0
1   NaN   NaN  3.0  4.0    5.0
   four  five  one  two  three
0     0     1  0.0  1.0    2.0
1     2     3  3.0  4.0    5.0
2     4     5  NaN  NaN    NaN

In [34]:
df2 = pd.DataFrame(np.arange(9).reshape(3,3),columns=['one','two','three'])
print(df2)
# df3=df2.drop(['one'],axis=1, inplace=True)
df3=df2.drop([0,1],axis=0, inplace=False)
print(df2)
print(df3)

   one  two  three
0    0    1      2
1    3    4      5
2    6    7      8
   one  two  three
0    0    1      2
1    3    4      5
2    6    7      8
   one  two  three
2    6    7      8

In [38]:
from numpy import nan as NaN
# 通过**dropna()**滤除缺失数据：
se=pd.Series([4,NaN,8,NaN,5])
print(se)
print(se.dropna())
print(se.notnull())
print(se.isnull())

0    4.0
1    NaN
2    8.0
3    NaN
4    5.0
dtype: float64
0    4.0
2    8.0
4    5.0
dtype: float64
0     True
1    False
2     True
3    False
4     True
dtype: bool
0    False
1     True
2    False
3     True
4    False
dtype: bool

In [41]:
print(se)
print(se[se.notnull()])

0    4.0
1    NaN
2    8.0
3    NaN
4    5.0
dtype: float64
0    4.0
2    8.0
4    5.0
dtype: float64

In [46]:
df1=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN]])
print(df1)

# 默认滤除所有包含NaN：
print(df1.dropna())

# 传入how=‘all’滤除全为NaN的行：
print(df1.dropna(how='all')) # 默认情况下是how='any'，只要有nan就删除

# 传入axis=1滤除列：
print(df1.dropna(axis=1,how="all"))

#传入thresh=n保留至少有n个非NaN数据的行：
print(df1.dropna(thresh=1))

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
     0    1    2
0  1.0  2.0  3.0
     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
3  8.0  8.0  NaN
     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
3  8.0  8.0  NaN

In [54]:
df1=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN]])
print(df1)

# 用常数填充fillna
# print(df1.fillna(0))

#传入inplace=True直接修改原对象：
# df1.fillna(0,inplace=True)
# print(df1)

# 通过字典填充不同的常数
print(df1.fillna({0.:10,1:20,2:30})) 
print(df1.iloc[:,1].fillna(5,inplace = True))
print(df1)

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
      0     1     2
0   1.0   2.0   3.0
1  10.0  20.0   2.0
2  10.0  20.0  30.0
3   8.0   8.0  30.0
None
     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  2.0
2  NaN  5.0  NaN
3  8.0  8.0  NaN

In [58]:
df2=pd.DataFrame(np.random.randint(0,10,(5,5)))
df2.iloc[1:4,3]=NaN
df2.iloc[2:4,4]=NaN
print(df2)
print(df2.fillna(method='bfill',limit=1))

   0  1  2    3    4
0  6  0  1  1.0  9.0
1  7  7  4  NaN  0.0
2  3  6  4  NaN  NaN
3  7  6  8  NaN  NaN
4  0  2  8  7.0  7.0
   0  1  2    3    4
0  6  0  1  1.0  9.0
1  7  7  4  NaN  0.0
2  3  6  4  NaN  NaN
3  7  6  8  7.0  7.0
4  0  2  8  7.0  7.0

In [60]:
df1=pd.DataFrame({'A':[1,1,1,2,2,3,1],'B':list("aabbbca")})
print(df1)
print(df1.duplicated())

   A  B
0  1  a
1  1  a
2  1  b
3  2  b
4  2  b
5  3  c
6  1  a
0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [67]:
df3=pd.DataFrame({'Red':[1,3,5],'Green':[5,0,3]},index=list('abc'))
df4=pd.DataFrame({'Blue':[1,9,8],'Yellow':[6,6,7]},index=list('cde'))
print(df3)
print(df4)
df5=df3.join(df4,how='left')
print(df5)
df6=df3.join(df4,how='right')
print(df6)
df7=df3.join(df4,how='outer')
print(df7)
df8=df3.join(df4,how='inner')
print(df8)

   Red  Green
a    1      5
b    3      0
c    5      3
   Blue  Yellow
c     1       6
d     9       6
e     8       7
   Red  Green  Blue  Yellow
a    1      5   NaN     NaN
b    3      0   NaN     NaN
c    5      3   1.0     6.0
   Red  Green  Blue  Yellow
c  5.0    3.0     1       6
d  NaN    NaN     9       6
e  NaN    NaN     8       7
   Red  Green  Blue  Yellow
a  1.0    5.0   NaN     NaN
b  3.0    0.0   NaN     NaN
c  5.0    3.0   1.0     6.0
d  NaN    NaN   9.0     6.0
e  NaN    NaN   8.0     7.0
   Red  Green  Blue  Yellow
c    5      3     1       6

In [73]:
df1=pd.DataFrame({'名字':list('ABCDE'),'性别':['男','女','男','男','女'],'职称':['副教授','讲师','助教','教授','助教']},index=range(1001,1006))
# df1.columns.name='学院老师'
# df1.index.name='编号'
print(df1)
df2=pd.DataFrame({'名字':list('ABDAX'),'课程':['C++','计算机导论','汇编','数据结构','马克思原理'],'职称':['副教授','讲师','教授','副教授','讲师']},index=[1001,1002,1004,1001,3001])
# df2.columns.name='课程'
# df2.index.name='编号'
print(df2)
pdm=pd.merge(df1,df2,on='名字',suffixes=['_1','_2'])
print(pdm)

     名字 性别   职称
1001  A  男  副教授
1002  B  女   讲师
1003  C  男   助教
1004  D  男   教授
1005  E  女   助教
     名字     课程   职称
1001  A    C++  副教授
1002  B  计算机导论   讲师
1004  D     汇编   教授
1001  A   数据结构  副教授
3001  X  马克思原理   讲师
  名字 性别 职称_1     课程 职称_2
0  A  男  副教授    C++  副教授
1  A  男  副教授   数据结构  副教授
2  B  女   讲师  计算机导论   讲师
3  D  男   教授     汇编   教授

In [78]:
from pandas import Series,DataFrame
s1 = Series(np.random.randint(0,150,size=6),index=list('abcdef'))
print(s1)
s2 = Series(np.random.randint(0,150,size=6),
           index=[['a','a','b','b','c','c'],['期中','期末','期中','期末','期中','期末']])
print(s2)
# print(s2['期中'])

a      9
b     28
c    123
d     26
e    139
f    112
dtype: int32
a  期中    136
   期末    102
b  期中     73
   期末     69
c  期中     32
   期末     16
dtype: int32

KeyError: '期中'