In [3]:
import pandas as pd
df = pd.DataFrame() 
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
sel =  pd.Series([1,2,3,4])
print(sel)
sel =  pd.Series([[1,2],[3,4]])
print(sel)
print(type(sel))

0    1
1    2
2    3
3    4
dtype: int64
0    [1, 2]
1    [3, 4]
dtype: object
<class 'pandas.core.series.Series'>

In [17]:
# sel =  Series(data = [1,2,3,4], index = ['a','b','c','d'])
sel =  pd.Series(data = [1,2,3,4], index = list('abcd'))
print(sel)
# 获取内容
print(sel.values)
print(type(sel.values))
# 获取索引
print(sel.index)
print(type(sel.index))
# 获取索引和值对
print(list(sel.iteritems()))

a    1
b    2
c    3
d    4
dtype: int64
[1 2 3 4]
<class 'numpy.ndarray'>
Index(['a', 'b', 'c', 'd'], dtype='object')
<class 'pandas.core.indexes.base.Index'>
[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [15]:
pd.__version__

'1.2.4'

In [20]:
dict={"red":100,"black":400,"green":300,"pink":900}
se3=pd.Series(dict)
print(se3)
print(type(se3))

red      100
black    400
green    300
pink     900
dtype: int64
<class 'pandas.core.series.Series'>

In [24]:
sel =  pd.Series(data = [1,2,3,4], index = list('abcd'))
print(sel['c'])
print(sel[2])

3
3

In [28]:
print('索引下标\n',sel[['a','c']])
print('位置下标\n',sel[[1,3]])

索引下标
 a    1
c    3
dtype: int64
位置下标
 b    2
d    4
dtype: int64

In [30]:
print('索引切片\n',sel['b':'d'])# 左右都包含
print('位置切片\n',sel[1:3])# 左包含右不包含

索引切片
 b    2
c    3
d    4
dtype: int64
位置切片
 b    2
c    3
dtype: int64

In [34]:
sel.index = list('dcba')
print(sel)
# ReIndex重新索引,会返回一个新的Series(调用reindex将会重新排序，缺失值则用NaN填补)
print(sel.reindex(['b','a','c','d','e']))
print(sel)

d    1
c    2
b    3
a    4
dtype: int64
b    3.0
a    4.0
c    2.0
d    1.0
e    NaN
dtype: float64
d    1
c    2
b    3
a    4
dtype: int64

In [38]:
se1=pd.Series(range(10,15))
print(se1)
se2=se1.drop([2,3])
# print(se1.drop([2,3]))
print(se2)
print(se1)

0    10
1    11
2    12
3    13
4    14
dtype: int64
0    10
1    11
4    14
dtype: int64
0    10
1    11
2    12
3    13
4    14
dtype: int64

In [39]:
series1 = pd.Series([1,2,3,4],['London','HongKong','Humbai','lagos'])
series2 = pd.Series([1,3,6,4],['London','Accra','lagos','Delhi'])

print(series1-series2)
print(series1+series2)
print(series1*series2)

Accra       NaN
Delhi       NaN
HongKong    NaN
Humbai      NaN
London      0.0
lagos      -2.0
dtype: float64
Accra        NaN
Delhi        NaN
HongKong     NaN
Humbai       NaN
London       2.0
lagos       10.0
dtype: float64
Accra        NaN
Delhi        NaN
HongKong     NaN
Humbai       NaN
London       1.0
lagos       24.0
dtype: float64

In [42]:
import numpy as np
sel =  pd.Series(data = [1,6,3,5], index = list('abcd'))
print(sel[sel>3]) # 布尔数组过滤
print(sel*2) # 标量乘法
print(np.square(sel)) # 可以直接加入到numpy的数学函数

b    6
d    5
dtype: int64
a     2
b    12
c     6
d    10
dtype: int64
a     1
b    36
c     9
d    25
dtype: int64

In [48]:
import numpy as np
from pandas import DataFrame,Series
df1 = DataFrame(np.random.randint(0,10,(4,4)),index=[1,2,3,4],columns=['a','b','c','d'])
print(df1)

   a  b  c  d
1  2  3  6  2
2  9  0  5  9
3  5  3  1  9
4  5  5  0  8

In [49]:
dict={
    'Province': ['Guangdong', 'Beijing', 'Qinghai', 'Fujian'],
    'pop': [1.3, 2.5, 1.1, 0.7],
    'year': [2018, 2018, 2018, 2018]}
df2=DataFrame(dict,index=[1,2,3,4])
print(df2)

    Province  pop  year
1  Guangdong  1.3  2018
2    Beijing  2.5  2018
3    Qinghai  1.1  2018
4     Fujian  0.7  2018

In [59]:
dict2={"a":[1,2,3],"b":[4,5,6]}
df5=pd.DataFrame.from_dict(dict2)
df6=pd.DataFrame(dict2,index=[1,2,3])  #对比
print(df5)
print(df6)

   a  b
0  1  4
1  2  5
2  3  6
   a  b
1  1  4
2  2  5
3  3  6

In [61]:
data = {
    'Name':pd.Series(['zs','ls','we'],index=['a','b','c']),
    'Age':pd.Series(['10','20','30','40'],index=['a','b','c','d']),
    'country':pd.Series(['中国','日本','韩国'],index=['a','c','b'])
}

df = DataFrame(data)
print(df)
# to_dict()方法将DataFrame对象转换为字典
dict = df.to_dict()
print(dict)

  Name Age country
a   zs  10      中国
b   ls  20      韩国
c   we  30      日本
d  NaN  40     NaN
{'Name': {'a': 'zs', 'b': 'ls', 'c': 'we', 'd': nan}, 'Age': {'a': '10', 'b': '20', 'c': '30', 'd': '40'}, 'country': {'a': '中国', 'b': '韩国', 'c': '日本', 'd': nan}}

In [64]:
df_dict = {
    'name':['James','Curry','Iversion'],
    'age':['18','20','19'],
    'national':['us','China','us']
}
df = pd.DataFrame(data=df_dict,index=['0','1','2'])
print(df)
# 获取行数和列数
print(df.shape)

# # 获取行索引
print(df.index.tolist())

# # 获取列索引
print(df.columns.tolist())

# 获取数据的类型
print(df.dtypes)

# 获取数据的维度
print(df.ndim)

       name age national
0     James  18       us
1     Curry  20    China
2  Iversion  19       us
(3, 3)
['0', '1', '2']
['name', 'age', 'national']
name        object
age         object
national    object
dtype: object
2

In [66]:
print(df.values)
print(type(df.values))

[['James' '18' 'us']
 ['Curry' '20' 'China']
 ['Iversion' '19' 'us']]
<class 'numpy.ndarray'>

In [67]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      3 non-null      object
 1   age       3 non-null      object
 2   national  3 non-null      object
dtypes: object(3)
memory usage: 96.0+ bytes
None

In [68]:
print(type(df[['name','age']]))

<class 'pandas.core.frame.DataFrame'>

In [69]:
print(df[1:3][['name','age']])

       name age
1     Curry  20
2  Iversion  19

In [74]:
print(df.iloc[1])
print(type(df.iloc[1]))

name        Curry
age            20
national    China
Name: 1, dtype: object
<class 'pandas.core.series.Series'>

In [76]:
print(df.iloc[[0,2],:])
print(type(df.iloc[[0,2],:]))

       name age national
0     James  18       us
2  Iversion  19       us
<class 'pandas.core.frame.DataFrame'>

In [77]:
df.iloc[0,0]='panda'
print(df)

       name age national
0     panda  18       us
1     Curry  20    China
2  Iversion  19       us

In [79]:
df = df.sort_values(by='age',ascending=False)
print(df)

       name age national
1     Curry  20    China
2  Iversion  19       us
0     panda  18       us

In [7]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), index = ['bj', 'sh', 'gz'], columns=['a', 'b', 'c'])
print(df1)
print(df1.index) 
print(type(df1.index)) 
df1.index = ['beijing', 'shanghai', 'guangzhou']
print(df1)

    a  b  c
bj  0  1  2
sh  3  4  5
gz  6  7  8
Index(['bj', 'sh', 'gz'], dtype='object')
<class 'pandas.core.indexes.base.Index'>
           a  b  c
beijing    0  1  2
shanghai   3  4  5
guangzhou  6  7  8

In [9]:
# 自定义map函数（x是原有的行列值）
def test_map(x):
    
    return x+'_ABC'
# inplace：布尔值，默认为False。指定是否返回新的DataFrame。如果为True，则在原df上修改，返回值为None。
print(df1.rename(index=test_map, columns=test_map, inplace=True))
print(df1)
# 同时，rename 还可以传入字典，为某个 index 单独修改名称
df3 = df1.rename(index={'bj':'beijing'}, columns = {'a':'aa'}) 
print(df3)

None
                   a_ABC_ABC  b_ABC_ABC  c_ABC_ABC
beijing_ABC_ABC            0          1          2
shanghai_ABC_ABC           3          4          5
guangzhou_ABC_ABC          6          7          8
                   a_ABC_ABC  b_ABC_ABC  c_ABC_ABC
beijing_ABC_ABC            0          1          2
shanghai_ABC_ABC           3          4          5
guangzhou_ABC_ABC          6          7          8

In [12]:
df1=pd.DataFrame({'X':range(5),'Y':range(5),'S':list("abcde"),'Z':[1,1,2,2,2]})
print(df1)
# 指定一列为索引 (drop=False 指定同时保留作为索引的列)
result = df1.set_index('S',drop=False)
result.index.name=None
print(result)

   X  Y  S  Z
0  0  0  a  1
1  1  1  b  1
2  2  2  c  2
3  3  3  d  2
4  4  4  e  2
   X  Y  S  Z
a  0  0  a  1
b  1  1  b  1
c  2  2  c  2
d  3  3  d  2
e  4  4  e  2

In [13]:
result = df1.set_axis(df1.iloc[0],axis=1,inplace=False)
result.columns.name=None
print(result)

   0  0  a  1
0  0  0  a  1
1  1  1  b  1
2  2  2  c  2
3  3  3  d  2
4  4  4  e  2

In [17]:
import pandas as pd
df1 = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],
                   columns=['name','gender','age'])

# 在数据框最后加上score一列
df1['score']=[80,98,67,88]   # 增加列的元素个数要跟原数据列的个数一样
print(df1)

     name gender  age  score
0    Snow      M   22     80
1  Tyrion      M   32     98
2   Sansa      F   18     67
3    Arya      F   14     88

In [18]:
col_name=df1.columns.tolist()  
print(type(col_name))
# print(col_name)
col_name.insert(2,'city')   
print(col_name)
print(df1)
df1=df1.reindex(columns=col_name) 
print(df1)

<class 'list'>
['name', 'gender', 'city', 'age', 'score']
     name gender  age  score
0    Snow      M   22     80
1  Tyrion      M   32     98
2   Sansa      F   18     67
3    Arya      F   14     88
     name gender  city  age  score
0    Snow      M   NaN   22     80
1  Tyrion      M   NaN   32     98
2   Sansa      F   NaN   18     67
3    Arya      F   NaN   14     88

NameError: name '给city列赋值' is not defined

In [19]:
df1['city']=['北京','山西','湖北','澳门']  
#给city列赋值
print(df1)

     name gender city  age  score
0    Snow      M   北京   22     80
1  Tyrion      M   山西   32     98
2   Sansa      F   湖北   18     67
3    Arya      F   澳门   14     88

In [24]:
# 增加数据
df1 = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],columns=['name','gender','age'])

new=pd.DataFrame({'name':'lisa',
                  'gender':'F',
                  'age':19
                  },index=[0])
# print(new)

df1=df1.append(new,ignore_index=False) 
# ignore_index=True,表示不按原来的索引，从0开始自动递增
print(df1)

     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14
0    lisa      F   19

In [26]:
import numpy as np
df1 = pd.DataFrame(np.arange(6).reshape(3,2),columns=['four','five'])
df2 = pd.DataFrame(np.arange(6).reshape(2,3),columns=['one','two','three'])
print(df1)
print(df2)

   four  five
0     0     1
1     2     3
2     4     5
   one  two  three
0    0    1      2
1    3    4      5

In [32]:
result1 = pd.concat([df1,df2],axis=0)
print(result1)
result2 = pd.concat([df1,df2],axis=1)
print(result2)

   four  five  one  two  three
0   0.0   1.0  NaN  NaN    NaN
1   2.0   3.0  NaN  NaN    NaN
2   4.0   5.0  NaN  NaN    NaN
0   NaN   NaN  0.0  1.0    2.0
1   NaN   NaN  3.0  4.0    5.0
   four  five  one  two  three
0     0     1  0.0  1.0    2.0
1     2     3  3.0  4.0    5.0
2     4     5  NaN  NaN    NaN

In [34]:
df2 = pd.DataFrame(np.arange(9).reshape(3,3),columns=['one','two','three'])
print(df2)
# df3=df2.drop(['one'],axis=1, inplace=True)
df3=df2.drop([0,1],axis=0, inplace=False)
print(df2)
print(df3)

   one  two  three
0    0    1      2
1    3    4      5
2    6    7      8
   one  two  three
0    0    1      2
1    3    4      5
2    6    7      8
   one  two  three
2    6    7      8

In [38]:
from numpy import nan as NaN
# 通过**dropna()**滤除缺失数据：
se=pd.Series([4,NaN,8,NaN,5])
print(se)
print(se.dropna())
print(se.notnull())
print(se.isnull())

0    4.0
1    NaN
2    8.0
3    NaN
4    5.0
dtype: float64
0    4.0
2    8.0
4    5.0
dtype: float64
0     True
1    False
2     True
3    False
4     True
dtype: bool
0    False
1     True
2    False
3     True
4    False
dtype: bool

In [41]:
print(se)
print(se[se.notnull()])

0    4.0
1    NaN
2    8.0
3    NaN
4    5.0
dtype: float64
0    4.0
2    8.0
4    5.0
dtype: float64

In [46]:
df1=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN]])
print(df1)

# 默认滤除所有包含NaN：
print(df1.dropna())

# 传入how=‘all’滤除全为NaN的行：
print(df1.dropna(how='all')) # 默认情况下是how='any'，只要有nan就删除

# 传入axis=1滤除列：
print(df1.dropna(axis=1,how="all"))

#传入thresh=n保留至少有n个非NaN数据的行：
print(df1.dropna(thresh=1))

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
     0    1    2
0  1.0  2.0  3.0
     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
3  8.0  8.0  NaN
     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
3  8.0  8.0  NaN

In [54]:
df1=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN]])
print(df1)

# 用常数填充fillna
# print(df1.fillna(0))

#传入inplace=True直接修改原对象：
# df1.fillna(0,inplace=True)
# print(df1)

# 通过字典填充不同的常数
print(df1.fillna({0.:10,1:20,2:30})) 
print(df1.iloc[:,1].fillna(5,inplace = True))
print(df1)

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
      0     1     2
0   1.0   2.0   3.0
1  10.0  20.0   2.0
2  10.0  20.0  30.0
3   8.0   8.0  30.0
None
     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  2.0
2  NaN  5.0  NaN
3  8.0  8.0  NaN

In [58]:
df2=pd.DataFrame(np.random.randint(0,10,(5,5)))
df2.iloc[1:4,3]=NaN
df2.iloc[2:4,4]=NaN
print(df2)
print(df2.fillna(method='bfill',limit=1))

   0  1  2    3    4
0  6  0  1  1.0  9.0
1  7  7  4  NaN  0.0
2  3  6  4  NaN  NaN
3  7  6  8  NaN  NaN
4  0  2  8  7.0  7.0
   0  1  2    3    4
0  6  0  1  1.0  9.0
1  7  7  4  NaN  0.0
2  3  6  4  NaN  NaN
3  7  6  8  7.0  7.0
4  0  2  8  7.0  7.0

In [60]:
df1=pd.DataFrame({'A':[1,1,1,2,2,3,1],'B':list("aabbbca")})
print(df1)
print(df1.duplicated())

   A  B
0  1  a
1  1  a
2  1  b
3  2  b
4  2  b
5  3  c
6  1  a
0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [67]:
df3=pd.DataFrame({'Red':[1,3,5],'Green':[5,0,3]},index=list('abc'))
df4=pd.DataFrame({'Blue':[1,9,8],'Yellow':[6,6,7]},index=list('cde'))
print(df3)
print(df4)
df5=df3.join(df4,how='left')
print(df5)
df6=df3.join(df4,how='right')
print(df6)
df7=df3.join(df4,how='outer')
print(df7)
df8=df3.join(df4,how='inner')
print(df8)

   Red  Green
a    1      5
b    3      0
c    5      3
   Blue  Yellow
c     1       6
d     9       6
e     8       7
   Red  Green  Blue  Yellow
a    1      5   NaN     NaN
b    3      0   NaN     NaN
c    5      3   1.0     6.0
   Red  Green  Blue  Yellow
c  5.0    3.0     1       6
d  NaN    NaN     9       6
e  NaN    NaN     8       7
   Red  Green  Blue  Yellow
a  1.0    5.0   NaN     NaN
b  3.0    0.0   NaN     NaN
c  5.0    3.0   1.0     6.0
d  NaN    NaN   9.0     6.0
e  NaN    NaN   8.0     7.0
   Red  Green  Blue  Yellow
c    5      3     1       6

In [73]:
df1=pd.DataFrame({'名字':list('ABCDE'),'性别':['男','女','男','男','女'],'职称':['副教授','讲师','助教','教授','助教']},index=range(1001,1006))
# df1.columns.name='学院老师'
# df1.index.name='编号'
print(df1)
df2=pd.DataFrame({'名字':list('ABDAX'),'课程':['C++','计算机导论','汇编','数据结构','马克思原理'],'职称':['副教授','讲师','教授','副教授','讲师']},index=[1001,1002,1004,1001,3001])
# df2.columns.name='课程'
# df2.index.name='编号'
print(df2)
pdm=pd.merge(df1,df2,on='名字',suffixes=['_1','_2'])
print(pdm)

     名字 性别   职称
1001  A  男  副教授
1002  B  女   讲师
1003  C  男   助教
1004  D  男   教授
1005  E  女   助教
     名字     课程   职称
1001  A    C++  副教授
1002  B  计算机导论   讲师
1004  D     汇编   教授
1001  A   数据结构  副教授
3001  X  马克思原理   讲师
  名字 性别 职称_1     课程 职称_2
0  A  男  副教授    C++  副教授
1  A  男  副教授   数据结构  副教授
2  B  女   讲师  计算机导论   讲师
3  D  男   教授     汇编   教授

In [82]:
from pandas import Series,DataFrame
s1 = Series(np.random.randint(0,150,size=6),index=list('abcdef'))
print(s1)
s2 = Series(np.random.randint(0,150,size=6),
           index=[['a','a','b','b','c','c'],['期中','期末','期中','期末','期中','期末']])
print(s2)
print(s2['a'])

a     40
b    140
c    114
d      1
e    149
f     54
dtype: int32
a  期中    122
   期末      1
b  期中    106
   期末     34
c  期中     13
   期末     70
dtype: int32
期中    122
期末      1
dtype: int32

In [83]:
df1 = DataFrame(np.random.randint(0,150,size=(6,4)),
               columns = ['zs','ls','ww','zl'],
               index = [['python','python','math','math','En','En'],['期中','期末','期中','期末','期中','期末']])
print(df1)

           zs   ls   ww   zl
python 期中  16   82  101   68
       期末  78   25  112   10
math   期中  41   32  105   46
       期末  57    1   13   76
En     期中   7   55  141  129
       期末  34  127  128  108

In [87]:
class1=['python','python','math','math','En','En']
class2=['期中','期末','期中','期末','期中','期末']
m_index2=pd.MultiIndex.from_arrays([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

            0    1    2    3
python 期中  55  126   59  110
       期末  41   64   12   54
math   期中  86    9   82   73
       期末   5  103  138   85
En     期中  12  141   85    5
       期末  78   74  130   54

KeyError: (slice(None, None, None), 1)

In [88]:
class1=['期中','期中','期中','期末','期末','期末']
class2=['python','math','En','python','math','En']
m_index2=pd.MultiIndex.from_arrays([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

             0    1    2    3
期中 python  149  108   53   58
   math    132  121    8  109
   En       32   13  120  149
期末 python  127    2   82  121
   math      6   72  127    9
   En      106   50   50   43

In [93]:
class1=['python','math','En']
class2=['期中','期末']
m_index2=pd.MultiIndex.from_product([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

             0    1    2    3
python 期中   11  109   84   99
       期末   48   61  119   54
math   期中  126   54  148   32
       期末  124  109  107  119
En     期中  149  145   56   47
       期末   70   78  103  125

In [104]:
s = Series(np.random.randint(0,150,size=6),
           index=[['a','a','b','b','c','c'],['期中','期末','期中','期末','期中','期末']])
print(s)
# 取一个第一级索引
# print(s['a'])

# 取多个第一级索引
# print(s[['a','b']])

# 根据索引获取值 a 且期末
# print(s['a','期末'])

# loc方法取值
# print(s.loc['a'])

# print(s.loc[['a','b']])
# print(s.loc['a','期末'])

# iloc方法取值(iloc计算的事最内层索引)
print(s.iloc[1])

# print(s.iloc[1:4])

a  期中    127
   期末     51
b  期中     80
   期末     36
c  期中     23
   期末    128
dtype: int32
51

In [105]:
class1=['python','math','En']
class2=['期中','期末']
m_index2=pd.MultiIndex.from_product([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

             0   1    2    3
python 期中  118  34  104   89
       期末  107  40   46   65
math   期中  125  20   12   81
       期末   74  58  109   74
En     期中    4  53   74  132
       期末   77  40   61   62

In [114]:
# 获取列
# print(df2[0])

# 一级索引
# print(df2.loc['python'])

# 多个一级索引
# print(df2.loc[['python','math']])

# 取一行
# print(df2.loc['python','期末'])

# 取一值
# print(df2.loc['python','期末'][0])

# iloc是只取最内层的索引的
print(df2.iloc[0])

0    118
1     34
2    104
3     89
Name: (python, 期中), dtype: int32

In [120]:
date = pd.date_range(start='20200501',end='20200530')
print(date)
date = pd.date_range(start='20210501',periods=10,freq='10D')
print(date)

DatetimeIndex(['2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04',
               '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08',
               '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12',
               '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-16',
               '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-20',
               '2020-05-21', '2020-05-22', '2020-05-23', '2020-05-24',
               '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28',
               '2020-05-29', '2020-05-30'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2021-05-01', '2021-05-11', '2021-05-21', '2021-05-31',
               '2021-06-10', '2021-06-20', '2021-06-30', '2021-07-10',
               '2021-07-20', '2021-07-30'],
              dtype='datetime64[ns]', freq='10D')

In [126]:
data_time =pd.date_range(start='2021-01-09',end='2021-01-14',closed='left')
print(data_time)
data_time =pd.date_range(start='2021-01-09',end='2021-01-14',closed='right')
print(data_time)
data_time =pd.date_range(start='2021-01-09',end='2021-01-14',closed=None)
print(data_time)
data_time =pd.date_range(start='2021-01-09',end='2021-01-14')
print(data_time)

DatetimeIndex(['2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14'],
              dtype='datetime64[ns]', freq='D')

In [127]:
index = pd.date_range(start='20210101',periods=10)
df = pd.Series(np.random.randint(0,10,size = 10),index=index)
print(df)

2021-01-01    8
2021-01-02    3
2021-01-03    0
2021-01-04    1
2021-01-05    4
2021-01-06    6
2021-01-07    8
2021-01-08    0
2021-01-09    6
2021-01-10    8
Freq: D, dtype: int32

In [128]:
after = df.truncate(after='2021-01-8')
print(after)

2021-01-01    8
2021-01-02    3
2021-01-03    0
2021-01-04    1
2021-01-05    4
2021-01-06    6
2021-01-07    8
2021-01-08    0
Freq: D, dtype: int32

In [132]:
long_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2019',periods=1000))
print(long_ts)
# 根据年份获取
result = long_ts['2020']
print(result)

2019-01-01    1.326333
2019-01-02    0.544152
2019-01-03   -0.048949
2019-01-04    0.789774
2019-01-05    0.837115
                ...
2021-09-22   -0.621118
2021-09-23   -0.548397
2021-09-24    0.326050
2021-09-25   -1.516567
2021-09-26   -0.664054
Freq: D, Length: 1000, dtype: float64
2020-01-01   -1.843388
2020-01-02    0.623914
2020-01-03    1.220604
2020-01-04   -0.547328
2020-01-05   -1.098203
                ...
2020-12-27   -1.020859
2020-12-28   -1.459158
2020-12-29    0.327098
2020-12-30    0.413954
2020-12-31   -0.254664
Freq: D, Length: 366, dtype: float64

In [134]:
# 通过between_time()返回位于指定时间段的数据集
index=pd.date_range("2021-03-17","2021-03-30",freq="2H")
print(index)
ts = pd.Series(np.random.randn(157),index=index)
print(ts.between_time("7:00","17:00"))

DatetimeIndex(['2021-03-17 00:00:00', '2021-03-17 02:00:00',
               '2021-03-17 04:00:00', '2021-03-17 06:00:00',
               '2021-03-17 08:00:00', '2021-03-17 10:00:00',
               '2021-03-17 12:00:00', '2021-03-17 14:00:00',
               '2021-03-17 16:00:00', '2021-03-17 18:00:00',
               ...
               '2021-03-29 06:00:00', '2021-03-29 08:00:00',
               '2021-03-29 10:00:00', '2021-03-29 12:00:00',
               '2021-03-29 14:00:00', '2021-03-29 16:00:00',
               '2021-03-29 18:00:00', '2021-03-29 20:00:00',
               '2021-03-29 22:00:00', '2021-03-30 00:00:00'],
              dtype='datetime64[ns]', length=157, freq='2H')
2021-03-17 08:00:00   -1.517496
2021-03-17 10:00:00   -0.271649
2021-03-17 12:00:00   -2.150888
2021-03-17 14:00:00    0.195305
2021-03-17 16:00:00    2.034375
                         ...
2021-03-29 08:00:00    0.135188
2021-03-29 10:00:00    0.101984
2021-03-29 12:00:00   -1.650631
2021-03-29 14:00:00   -0.131473
2021-03-29 16:00:00    0.913386
Length: 65, dtype: float64

In [138]:
index=pd.date_range('1/1/2021',periods=100)
df = pd.DataFrame(np.random.randn(100,4),index=index)
print(df)
print(df.loc['2021-02'])

                   0         1         2         3
2021-01-01 -0.150174  0.555182 -1.424551 -0.026561
2021-01-02 -0.739623  1.059348 -0.593264  0.433364
2021-01-03 -0.687665 -0.537795 -1.315774 -0.573121
2021-01-04 -1.388486 -1.666954 -1.624802  1.941784
2021-01-05  0.711980  1.248144  2.757231 -0.133707
...              ...       ...       ...       ...
2021-04-06  0.682593  0.476258  1.388682 -1.675201
2021-04-07 -1.341250 -0.798601  2.252888  0.444967
2021-04-08 -0.691871  0.126833 -0.017641 -0.348142
2021-04-09  0.881577 -0.376232 -0.433031 -1.166933
2021-04-10  0.597047  1.768139  1.885411  0.682932

[100 rows x 4 columns]
                   0         1         2         3
2021-02-01 -1.357524  0.942010  1.004850  0.011203
2021-02-02 -0.946950 -1.238395  0.196892  0.187568
2021-02-03 -1.133324  1.177723 -0.465735  0.339878
2021-02-04  0.307003  0.748286 -0.806379  1.393312
2021-02-05  1.830809 -0.948416 -0.583097  1.415454
2021-02-06  1.275931  0.225402 -0.172693 -1.304441
2021-02-07 -1.687414  0.805716  2.341610 -0.810826
2021-02-08  0.010569 -0.521082 -0.905740  0.617153
2021-02-09  1.878753 -0.455566  0.133307  0.457019
2021-02-10 -0.071315  0.041817  0.970090  0.146232
2021-02-11 -0.348195 -1.294398  0.154758 -0.158478
2021-02-12 -0.586313  0.341074  1.465156  0.651609
2021-02-13  0.687410 -0.552565 -0.196583 -0.911030
2021-02-14 -0.947405  0.166222 -1.014863 -1.488456
2021-02-15  0.126084 -0.526346  0.982559 -1.637605
2021-02-16 -0.406020 -0.473321 -1.192104  0.162983
2021-02-17  1.140904 -0.467377 -2.118213 -0.089069
2021-02-18  0.900826  0.026220  0.680105 -1.082385
2021-02-19  0.626521 -2.231818 -2.301122 -2.478911
2021-02-20  0.374288  1.631152 -0.713643  0.459527
2021-02-21  0.561281 -0.046827 -0.714876 -1.619217
2021-02-22 -0.324923 -1.360495 -0.964480 -0.466596
2021-02-23 -0.797749 -1.958836  1.804541 -0.178030
2021-02-24  1.150418 -2.398376  0.110376  0.597365
2021-02-25 -1.018032  0.861706  0.389569 -0.370930
2021-02-26 -1.320833  0.768648  0.245427 -0.684750
2021-02-27 -0.248114  1.494165  0.142089 -1.255015
2021-02-28 -0.348068 -2.551337  1.020563  0.229481

In [156]:
ts = pd.Series(np.random.randn(10),index=pd.date_range('1/1/2019',periods=10))
print(ts)

ts.shift(periods=2)

2019-01-01   -0.510847
2019-01-02   -0.207062
2019-01-03   -1.536984
2019-01-04   -0.320297
2019-01-05    0.150864
2019-01-06   -2.276609
2019-01-07    2.003307
2019-01-08   -0.214439
2019-01-09   -1.651408
2019-01-10    0.362522
Freq: D, dtype: float64

2019-01-01         NaN
2019-01-02         NaN
2019-01-03   -0.510847
2019-01-04   -0.207062
2019-01-05   -1.536984
2019-01-06   -0.320297
2019-01-07    0.150864
2019-01-08   -2.276609
2019-01-09    2.003307
2019-01-10   -0.214439
Freq: D, dtype: float64

In [157]:
ts.shift(periods=2,fill_value=100)

2019-01-01    100.000000
2019-01-02    100.000000
2019-01-03     -0.510847
2019-01-04     -0.207062
2019-01-05     -1.536984
2019-01-06     -0.320297
2019-01-07      0.150864
2019-01-08     -2.276609
2019-01-09      2.003307
2019-01-10     -0.214439
Freq: D, dtype: float64

In [158]:
ts.shift(periods=2,fill_value=100,freq='D')

2019-01-03   -0.510847
2019-01-04   -0.207062
2019-01-05   -1.536984
2019-01-06   -0.320297
2019-01-07    0.150864
2019-01-08   -2.276609
2019-01-09    2.003307
2019-01-10   -0.214439
2019-01-11   -1.651408
2019-01-12    0.362522
Freq: D, dtype: float64

In [161]:
pd.to_datetime(1554970740000,unit='ms')

Timestamp('2019-04-11 08:19:00')

In [162]:
pd.to_datetime(1554970740000,unit='ms').tz_localize('UTC').tz_convert('Asia/Shanghai')

Timestamp('2019-04-11 16:19:00+0800', tz='Asia/Shanghai')

In [169]:
df = pd.DataFrame([1554970740000, 1554970800000, 1554970860000],columns = ['time_stamp'])
print(df)
pd.to_datetime(df['time_stamp'],unit='ms').dt.tz_localize('UTC').dt.tz_convert('Asia/Shanghai')
print(pd.to_datetime('2019年10月10日',format='%Y年%m月%d日'))

      time_stamp
0  1554970740000
1  1554970800000
2  1554970860000
2019-10-10 00:00:00

In [170]:
import pandas as pd
import numpy as np
df=pd.DataFrame({
    'name':['BOSS','Lilei','Lilei','Han','BOSS','BOSS','Han','BOSS'],
    'Year':[2016,2016,2016,2016,2017,2017,2017,2017],
    'Salary':[999999,20000,25000,3000,9999999,999999,3500,999999],
    'Bonus':[100000,20000,20000,5000,200000,300000,3000,400000]
    })

print(df)

    name  Year   Salary   Bonus
0   BOSS  2016   999999  100000
1  Lilei  2016    20000   20000
2  Lilei  2016    25000   20000
3    Han  2016     3000    5000
4   BOSS  2017  9999999  200000
5   BOSS  2017   999999  300000
6    Han  2017     3500    3000
7   BOSS  2017   999999  400000

In [173]:
group_by_name=df.groupby('name')
print(type(group_by_name))
print(group_by_name)
# 查看分组
print(group_by_name.groups)
# 分组后的数量
print(group_by_name.count())

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000204FD2D5880>
{'BOSS': [0, 4, 5, 7], 'Han': [3, 6], 'Lilei': [1, 2]}
       Year  Salary  Bonus
name
BOSS      4       4      4
Han       2       2      2
Lilei     2       2      2

In [174]:
for name,group in group_by_name:
    print(name)# 组的名字
    print(group)# 组具体内容

BOSS
   name  Year   Salary   Bonus
0  BOSS  2016   999999  100000
4  BOSS  2017  9999999  200000
5  BOSS  2017   999999  300000
7  BOSS  2017   999999  400000
Han
  name  Year  Salary  Bonus
3  Han  2016    3000   5000
6  Han  2017    3500   3000
Lilei
    name  Year  Salary  Bonus
1  Lilei  2016   20000  20000
2  Lilei  2016   25000  20000

In [175]:

df1=pd.DataFrame({'Data1':np.random.randint(0,10,5),
                  'Data2':np.random.randint(10,20,5),
                  'key1':list('aabba'),
                  'key2':list('xyyxy')})
print(df1)

   Data1  Data2 key1 key2
0      0     13    a    x
1      7     18    a    y
2      5     17    b    y
3      4     10    b    x
4      8     12    a    y

In [176]:
print(df1.groupby('key1').sum())
# 注意：当分组后进行数值计算时，不是数值类的列（即麻烦列）会被清除

      Data1  Data2
key1
a        15     43
b         9     27

In [177]:
print(df1.groupby('key1').agg('sum'))

      Data1  Data2
key1
a        15     43
b         9     27

In [178]:
print(df1.groupby('key1').agg(['sum','mean','std']))

     Data1                Data2
       sum mean       std   sum       mean       std
key1
a       15  5.0  4.358899    43  14.333333  3.214550
b        9  4.5  0.707107    27  13.500000  4.949747

In [179]:
dict_mapping = {
    'Data1':['mean','max'],
    'Data2':'sum'
}
print(df1.groupby('key1').agg(dict_mapping))

     Data1     Data2
      mean max   sum
key1
a      5.0   8    43
b      4.5   5    27

In [183]:
df1=pd.DataFrame({'sex':list('FFMFMMF'),'smoker':list('YNYYNYY'),'age':[21,30,17,37,40,18,26],'weight':[120,100,132,140,94,89,123]})
print(df1)
def bin_age(age):
    if age >=18:
        return 1
    else:
        return 0
print(df1['age'].apply(bin_age))
df1['age'] = df1['age'].apply(bin_age)
print(df1)
def top(smoker,col,n=5):
    
    return smoker.sort_values(by=col)[-n:]
df1.groupby('smoker').apply(top,col='weight',n=2)

  sex smoker  age  weight
0   F      Y   21     120
1   F      N   30     100
2   M      Y   17     132
3   F      Y   37     140
4   M      N   40      94
5   M      Y   18      89
6   F      Y   26     123
0    1
1    1
2    0
3    1
4    1
5    1
6    1
Name: age, dtype: int64
  sex smoker  age  weight
0   F      Y    1     120
1   F      N    1     100
2   M      Y    0     132
3   F      Y    1     140
4   M      N    1      94
5   M      Y    1      89
6   F      Y    1     123

         sex smoker  age  weight
smoker
N      4   M      N    1      94
       1   F      N    1     100
Y      2   M      Y    0     132
       3   F      Y    1     140